div{
	background-color:  #d7d7bf;
	width: 600px;
	padding: 5px 0 10px 10px;
}

h1{
	color: #562602;
	font-family: sans-serif;
}

h2{
	color:  #020021;
}

h3{
	color: #8c5918;
}

a{
	color: #5e550a;
}