.one {
    background-color: red;
    width: 100px;
    height: 50px;
}

.two{
	background-color: orange;
    width: 150px;
    height: 50px;
}

.three{
	background-color: darkblue;
    width: 200px;
    height: 50px;
}